<link rel="stylesheet" href="/static/style.css" type="text/css">
<h1 align = 'center'>Welcome to Online Voting Portal.<h1>

<br>
<br>

<a href = '/login'>LOGIN</a>
<br>
<br>

<a href = '/get-reg'>REGISTER</a>