
<!doctype html>
<html>
   <body>
   <form action="/result" method = "POST">
   {% for party in message %}
  <input type="radio" name="party" value= {{party}} checked> {{party}}<br>
	{% endfor %}
<input type="submit" value="Vote">
</form>
<a href ="/index.html">Logout</a>