<link rel="stylesheet" href="/static/style.css" type="text/css">
{% block body %}

 
 
<form action="/save-form" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>REGISTER</h1>
			</div>
 
			<div class="login-form">
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="username" name="username">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>
 
				<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="password" name="password">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>
				
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="email" name="email">
				<label class="login-field-icon fui-lock" for="login-email"></label>
				</div>
				
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="voterid" name="voterid">
				<label class="login-field-icon fui-lock" for="login-email"></label>
				</div>
				
                <input type="submit" value="Register" class="btn btn-primary btn-large btn-block" >
			    <br>
			</div>
		</div>
	</div>
</form>

<br>
<br>

<a href="/home"> Go Back Home !!</a>
 

{% endblock %}
